/* https://codepen.io/dev_loop/pen/XWJeKNO */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:focus,
*::before:focus,
*::after:focus {
	outline: none;
}
*::-webkit-input-placeholder,
*::before::-webkit-input-placeholder,
*::after::-webkit-input-placeholder {
	color: #222;
}
*::-moz-placeholder,
*::before::-moz-placeholder,
*::after::-moz-placeholder {
	color: #222;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-grow: 1;

	background: #f2f2f2;
}
.icons {
	display: none;
}
button {
	border: 0;
}
button:focus {
	border: none;
	outline: 0 !important;
	outline-style: none;
}
.ui-container {
	display: block;
	position: absolute;
	bottom: 40px;
	transform: scale3d(0.5, 0.5, 23);
}

.ui-container .btn {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #f2f2f2;
	transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
		0px 4px 15px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	/* max-height: 10vh; */
	/* max-width: 10vh; */

	/* This will reveal the button when page loads */
	transform: scale(1.2, 1.2) translate(0, 0);
}
@media (prefers-color-scheme: dark) {
	.ui-container .btn {
		background-color: #f2f2f2;
	}
}

/* @media (forced-colors: active) {
	.ui-container .btn {
		background-color: #824d4d;
	}
} */
.ui-container .btn.hide {
	transform: scale(0, 0) translate(0, 50vh);
}
/* ////////////////////////////////////////// */

.ui-container .btn:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: 2;
}
.ui-container .btn:active {
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}
.ui-container .btn:active:after {
	box-shadow: inset 0px -2px 5px #fff, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.ui-container .btn.active.play-pause .icon.pause {
	opacity: 1;
	transform: translate(-50%, -50%);
}
.ui-container .btn.active.play-pause .icon.play {
	opacity: 0;
	transform: translate(-50%, 50%);
}
.ui-container .btn .icon-container,
.ui-container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-container .btn a {
	z-index: 10;
}
.ui-container .btn .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	fill: #868686;
	height: 1.4rem;
	vertical-align: middle;
	width: 1.4rem;
	transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ui-container .btn.play-pause .icon.pause {
	opacity: 0;
	transform: translate(-50%, 50%);
}
/* .ui-container .btn.volume-control {
	height: 160px;
	border-radius: 50px;
}
.ui-container .btn.volume-control::after {
	border-radius: 50px;
}
.ui-container .btn.volume-control .icon-container {
	height: 50%;
}
.ui-container .btn.volume-control .icon-container:last-child {
	transform: translateY(100%);
}
.ui-container .btn.volume-control .icon {
	width: 1.6rem;
	height: 1.6rem;
}
.ui-container .btn.volume-control .icon.plus {
	transform: translate(-50%, -50%);
}
.ui-container .btn.volume-control .icon.minus {
	transform: translate(-50%, -50%);
} */
